[2015-04-16 02:39] poteto opened #1 "_unbindListeners() should clear the instance of the event listeners per element"
This method clears all event listeners on the window and document (in reality, this mixin has only 3 listeners regardless of the number of Components, because of the way Ember registers event listeners globally), which means if you have >1 Component to watch, after one enters the viewport, it unbinds listeners for all other Components, whether or not they have entered the viewport.

[2015-04-16 02:39] poteto opened #2 "_unbindListeners() should clear the instance of the requestAnimationFrame recursion (per Object), but still remain performant"
Currently, this method does not clear the requestAnimationFrame recursion when it is called. cancelAnimationFrame requires the id returned by the requestAnimationFrame method, but storing it in the Ember.Object causes severe memory issues (as it is being updated at 60FPS, or about every 16ms)

[2015-04-16 02:51] #1 closed

[2015-04-16 16:08] #2 closed

[2015-04-16 18:48] rwjblue opened #5 "No need to re-export mixins/utils in app tree."
We should prefer that folks import directly from `ember-in-viewport` instead of relative to their app.

[2015-04-16 19:01] poteto commented on #5
Oh yeah, good catch! Completely missed that `ember generate mixin/util` also generates in the `app` directory.

[2015-04-16 19:11] #5 closed

[2015-04-23 11:18] rwjblue opened #7 "viewportEntered & viewportExited as "real" hooks"
The README uses the term "hook" to refer to boolean values that are set on the root of the component. IMHO, these are "flags" (or something) but a hook would be a function that is invoked.

I would like to have functions that are called instead of forcing observation to consume the mixin. This would make it simpler to do complicated logic on entering/exiting the viewport without relying on using a

[2015-04-23 11:19] rwjblue commented on #7
The proposed change would be a breaking change, so we could change the names of the functions to avoid that breakage if you prefer...

[2015-04-24 14:24] poteto commented on #7
Working on it!

[2015-04-24 16:14] poteto opened #9 "Waypoint hooks"

[2015-04-24 16:17] #7 closed

[2015-04-24 16:51] poteto opened #10 "be able to provide own contexts"
For example, this could be useful when you want the context to be something other than a window, e.g. a container div.

[2015-04-27 19:01] #10 closed

[2015-04-27 19:03] #9 closed

[2015-04-29 10:23] fsmanuel opened #15 "Attempting to register an unknown factory: `config:in-viewport`"
Using `ember-lazy-image` I now get this error.
When I add `viewportConfig` to the `environment.js` it is gone.

To fix that we should add a fallback:
[code]
I tried `const { viewportConfig } = config || {};` but that didn't worked so I did `viewportConfig || {}`

[2015-04-29 10:43] poteto commented on #15
Yeah that's a good catch, I'll issue a bugfix. Thanks!

[2015-04-29 13:30] poteto opened #16 "The mixin is triggering the hook before `viewportEntered` is set"
First reported in https://github.com/twokul/ember-lazy-image/issues/26.

[2015-04-29 13:43] #16 closed

[2015-04-29 17:36] #15 closed

[2015-04-30 09:15] fsmanuel commented on #15
I learn so much es6 features by reading your code!

[2015-05-01 13:58] fsmanuel opened #19 "Default options are missing"
That one was hard to track down. I was getting
[code]

I figured that it was due to not setting `viewportRefreshRate` in the config. The docs suggest that there are defaults and you don't have to set any config. It is true for `viewportUseRAF`, `viewportEntered` and `viewportListeners` but not for the other options: [_setInitialState](https://github.com/dockyard/ember-in-viewport/blob/develop/addo

[2015-05-01 14:10] fsmanuel commented on #19
In addition we should concat `viewportListeners` or is it intentional that setting `viewportListeners: []` in the config would remove the `defaultListeners`?

[2015-05-01 14:38] poteto commented on #19
Thanks for reporting!

1. Default options are being set in [`config/environment`](https://github.com/dockyard/ember-in-viewport/blob/1.2.1/config/environment.js) of the addon. This gets merged into the consuming app's config, so it *should* be set by default. That config is then injected into the container under `config:in-viewport`, which is [used by the mixin](https://github.com/dockyard/ember-i

[2015-05-01 22:36] fsmanuel commented on #19
1. Ok, I'll dig into it. It seems that the addon config isn't merged into the consuming app's config. The stacktrace above is the full stacktrace and it is caused by `viewportRefreshRate` beeing `undefined`. In my consuming app `viewportConfig` is partially set. I just set the `viewportTolerance` that's why I think that the configs aren't cleanly merged.

2. Understood.

[2015-05-02 00:28] rwjblue commented on #19
@poteto - If a given key exists in the app config, it completely replaces the addon specified config.  In other words, we are not doing a deep merge in ember-cli.

If you need a deep merge, my suggestion is to keep the defaults in `addon/config/default.js`, then use `import defaultConfig from 'ember-in-viewport/config/default';`, and do the merge yourself in the initializer.

[2015-05-02 00:30] rwjblue commented on #19
I think that comment was somewhat confusing (sorry), let me give an example:

[code]

The resulting config will be:

[code]

[2015-05-02 00:43] poteto commented on #19
Ah, I hadn't realized! Thanks for pointing that out @rwjblue. Will issue a fix shortly @fsmanuel

[2015-05-02 08:38] fsmanuel commented on #19
Thanks to both of you.

[2015-05-04 01:48] #19 closed

[2015-06-03 19:38] fsmanuel opened #26 "Early bail out"
@poteto is there a easy way to prevent the mixin from beeing initialized? Lets say i set `viewportEntered = true` and `_setupElement` would bail out immediately. That would be great for `ember-lazy-image` when the image is already in cache and would save a lot of performance.

[2015-06-04 03:24] poteto commented on #26
Hey @fsmanuel, yup that can definitely be done. Sorry I got back to you so late! Would you like to submit a PR for this? :)

[2015-06-04 13:17] fsmanuel opened #28 "Property 'requestAnimationFrame' of object [object DOMWindow] is not a function"
I get the error on Android 4.0

[2015-06-04 18:31] amokan opened #29 "Depreciation warnings"
Not sure why I cannot pinpoint the issue, but I'm getting a bunch of depreciation warnings for the now retired `didScrollUp` (and other directions) even though I do not have these implemented in my code anyplace.

I get the same warnings on your demo app on divshot as well.

[2015-06-06 19:19] poteto commented on #29
That's strange, it shouldn't be happening...

![screenshot 2015-06-06 15 16 33](https://cloud.githubusercontent.com/assets/1390709/8021055/55068126-0c5f-11e5-8988-55047b0396af.png)

[2015-06-06 19:23] rwjblue commented on #29
@poteto - Likely unrelated, but the demo is deployed with production build so deprecations would have been stripped.

[2015-06-06 19:32] #29 closed

[2015-06-07 03:33] amokan commented on #29
thank you @poteto

[2015-06-27 19:04] deivinsontejeda opened #33 "didExitViewport not fire"
Hi guys,

I wonder what would be the reason why `didExitViewport` is not fire?

[2015-07-06 17:23] wayne-o opened #34 "Should this work with components in pod structure?"
I have the following in /components/lineup-tile/component.js:

[code]

but all that happens is ```console.log('entered');``` is fired 20 times when the app loads - there are 20 items but only 8 are immediately visible on screen - none of the other events ever fire?

[2015-07-08 19:30] deivinsontejeda commented on #33
I will close this issue due to we have found the error and it was with [nanoScroller](https://jamesflorentino.github.io/nanoScrollerJS/) we will figure out how could work both.

[2015-07-08 19:30] #33 closed

[2015-07-08 19:31] deivinsontejeda commented on #34
Could share your template?

[2015-08-04 20:00] awaer opened #37 "Elements taller than viewport never trigger hooks"
I'm running into an issue where tall components (taller than the viewport) don't report that they've entered or exited the viewport. Is there any way to trigger enter/exit/scroll hooks —regardless of whether the _entire_ element is visible— other than by increasing `viewportTolerance` to some pixel value?

Using the waypoints library, one may use a percentage offset from top `{ offset: '100%' }` a

[2015-08-06 22:32] erichonkanen opened #38 "Will this support making an element sticky?"
Hello,

I am looking to make a header element sticky and have come across a few packages including this one,
https://github.com/rwjblue/ember-waypoints, and https://github.com/brandonhilkert/ember-cli-sticky

Will this support more than just element in/out of viewport but also just element scrolling in general? It'd be nice if there was just 1 solid package :)

[2015-08-31 14:37] carloscheddar opened #40 "didEnterViewport should also trigger from the bottom rather than only from the top."
Currently when scrolling the hooks trigger when the `top` of the element is in view. It would be nice if we could set a flag to be able to trigger from the bottom even if the top is not in view yet.

[2015-09-16 10:18] regsii commented on #37
@awaer @poteto
Looks like this addon doesn't handle case when the element is not in viewport from the very beginning (when `_triggerDidAccessViewport` is called for the first time).
You can think of this like value of `viewportEntered` property is changed from `false` to `false` (since the default value of `viewportEntered` property is `false`).
But `_triggerDidAccessViewport` method only handles

[2015-09-29 19:32] laantorchaweb commented on #37
same issue here, I didn't know what was happening until I tried to add smaller elements. But, I can confirm that if the element (component) it's taller than the viewport the events aren't fired.

[2015-10-08 19:13] poteto opened #42 "Refactor away multiple rAF calls for performance improvements"

[2015-10-23 07:13] patuku-roy commented on #37
@poteto any updates about this? or maybe @awaer already had any enlightenment?

[2015-10-23 12:52] awaer commented on #37
@patuku-roy My team couldn't find a workaround. The nearest alternative addon (`ember-waypoints`) doesn't meet our use case (and seems to be falling behind), so we opted for rolling our own solution that leans on `scrollMonitor`. It's not ideal, but it works for now.

[2015-10-26 17:49] patuku-roy commented on #37
Same here, I've tried to use `ember-waypoint` but it seems using the same approach, I ended by splitting the `ember-in-viewport` implementation into many smaller part of the DOM, for example: if I have `div` contains image and text, then I put `ember-in-viewport` for image only, because in my case, the image height always shorter than viewport height, this is not ideal solution but at least workin

[2015-11-25 05:47] jkeen opened #45 "Error in _unbindListeners in component integration tests"
After mixing this into a component, integration tests keep throwing `Uncaught TypeError: Cannot read property 'forEach' of undefined`. This is on Ember 2.2.

It's failing when it's finding that `viewportListeners` hasn't been set.

Is there something I need to do to my test to get this to work like it should? Otherwise, what's the best way to test a component with this mixed in?

[2015-11-25 18:48] jkeen commented on #45
You can work around this by defining a `viewportListeners: []` property on the component, but that doesn't feel right.

[2015-11-26 20:16] swalkinshaw commented on #45
Just wanted to report I also ran into the same issue and defining `viewportListeners: []` worked.

[2015-11-26 20:40] poteto commented on #45
The above solution is OK in my book. Testing the "in viewport" behavior is very difficult / non-trivial and I would avoid doing so in your integration test.

[2015-11-26 20:46] swalkinshaw commented on #45
@poteto just to clarify, the error occurs when simply rendering a component in an integration test. I personally don't have an issue with just defining `viewportListeners` though since, in my case, I was overriding them so it kind of makes sense.

[code]

[2015-11-26 20:50] poteto commented on #45
Yeah, it fails because the initializer isn't invoked in the integration test. I can add a guard to the mixin in case it is undefined

[2015-12-15 14:57] trumb1mj commented on #33
I'm actually running into this as well.  Were there any other package conflicts associated with this?  didEnterViewport is firing without issue.

[2015-12-20 19:52] systembugtj opened #47 "Breaking change from 2.x which EnumerableUtils is removed, using lodash instead."
http://emberjs.com/blog/2015/05/24/another-two-oh-status-update.html

The ArrayPolyfills and EnumerableUtils libraries are being pulled out into a library; most apps should prefer lodash or other utility libs.

[2015-12-21 00:27] rwjblue commented on #47
This was fixed in https://github.com/dockyard/ember-in-viewport/pull/32 and has already been released.  Please update to the latest version.

[2015-12-22 04:25] #47 closed

[2016-01-07 18:25] kastsiushkin opened #50 "Mobile Safari minimal-ui mode"
## Issue
On mobile Safari `didEnterViewport` is firing late, due to incorrect calculation of height in minimal-ui mode. (On iPhone6 I had to scroll approximately 68px higher)

## Solution
Proposed solution is using `innerHeight` instead of `height()` to calculate correct value on the spot. Here is a [PR](https://github.com/dockyard/ember-in-viewport/pull/49)

[2016-01-17 22:28] Alinaki commented on #37
This is very annoying problem on narrow viewports :( When the element is wider than viewport.

[2016-01-25 18:25] elidupuis commented on #45
Just ran into this issue myself and made a quick PR (#52).

[2016-02-10 11:06] Alinaki opened #57 "Deprecations in Ember 2.3.0"
[code]

Official documentation recommends to use ember-getowner-polyfill

http://emberjs.com/deprecations/v2.x/#toc_injected-container-access

[2016-02-10 11:51] rwjblue commented on #57
Should be fixed by https://github.com/DockYard/ember-in-viewport/pull/56

[2016-02-10 20:07] #57 closed

[2016-02-17 19:11] sethbrasile commented on #45
Ran into this issue, it was blowing up my mocha tests with `undefined is not an object (evaluating 'this.cache.subject')` and `Assertion Failed: You cannot use the same root element (#ember-testing) multiple times in an Ember.Application`

Not sure how it's related, but making @elidupuis' change fixes it.

[2016-02-17 20:11] danielleadams commented on #45
It looks like it's probably the same error because the first one is trying to access the undefined properties (which are set in `init`). The second is simply because your tests weren't tearing down the setup of the previous test properly due to the initial error.

I had similar behavior and had to created a `Mixin` inside the application that extended the addon.

[2016-02-17 21:00] sethbrasile commented on #45
ahhh @danielleadams I hadn't put enough thought into it. I *should* know to always look at the first error when there are two, but the 2nd seemed more prevalent so I was stupidly focusing on that one. Thanks! Maybe next time it won't take me 2 hours to figure out :D

To anyone ending up here from the google, I just added `viewportListeners: []` to the component that is using the mixin.

[2016-02-18 06:44] #45 closed

[2016-03-02 21:40] #38 closed

[2016-03-02 21:43] erichonkanen opened #61 "Only called first time"
Hello, I have a `paginate-loader` component that is using this mixin for infinite scroll, however it seems to only be called the first time it enters the viewport...

Here is my paginate-loader component...
[code]

in my templates/route.hbs
[code]

So when I scroll down and the paginate-loader comes into view the first time, it loads more data and it goes out of view... however scrolling down furt

[2016-03-02 21:48] poteto commented on #61
Either set `viewportSpy` to `true` in your `config/environment` or set it on the component itself:

[code]

[2016-03-02 21:55] erichonkanen commented on #61
doh missed the setting for spying... do I need to unbind everything on route change or is that handled automatically if I set the spy to true?

[2016-03-02 21:56] poteto commented on #61
It will unbind it for you when the component's element is destroyed.

[2016-03-03 00:40] erichonkanen commented on #61
thanks!

[2016-03-03 00:40] #61 closed

[2016-04-22 16:45] dlo83 opened #65 "Support for offsets?"
We fairly recently switched away from ember-waypoints to ember-in-viewport.  One of the nice things about the former was the ability to enter offsets.  We have headers in our app, so it would be great if there was a straightforward way to redefine the context and use a an html element rather than the window, or at the very least, give a pixel value offset. So if our header was 50px tall, we could

[2016-04-22 18:35] dlo83 commented on #65
I'm going to close this one out--turns out tolerances do work as expected and I neglected accounting for another element in my calculations.

[2016-04-22 18:35] #65 closed

[2016-04-22 22:12] davidpett opened #67 "partial viewport support"
I forked and added some functionality to allow for partial viewport (i.e. only the top tolerance matches) https://github.com/davidpett/ember-in-viewport/blob/partial-viewport/addon/utils/is-in-viewport.js However this fails the test https://github.com/davidpett/ember-in-viewport/blob/master/tests/unit/utils/is-in-viewport-test.js#L53 because it will never fire when not in viewport. Any thoughts?

[2016-04-27 02:02] richpwf commented on #33
Same issue here :(

[2016-04-27 04:13] poteto commented on #33
Do you have viewportSpy enabled?

[2016-04-27 05:15] richpwf commented on #33
Doh! I'm an eejit! Thanks Lauren

On Apr 27, 2016, at 4:05 PM, Lauren Tan <notifications@github.com<mailto:notifications@github.com>> wrote:

Do you have viewportSpy enabled?

—
You are receiving this because you commented.
Reply to this email directly or view it on GitHub<https://github.com/DockYard/ember-in-viewport/issues/33#issuecomment-214965487>

[2016-05-17 21:11] SaladFork opened #68 "Rehost demo app"
The demo app is no longer available since divshot went offline.

http://development.ember-in-viewport-demo.divshot.io/

[2016-06-24 01:42] alexlafroscia opened #70 "Only detecting when elements are above or below viewport"
Is there some way to configure this to only detect when the element is above or below the viewport?  I don't care if it went off the page sideways and only want to check if it scrolled off the top.

I was able to achieve the effect by setting `viewportTolerance.left` and `viewportTolerance.right` to a really large, arbitrary number, but a way to disable the left-right check altogether would be eve

[2016-06-28 17:23] blimmer opened #71 "Demo Website is Down"
http://development.ember-in-viewport-demo.divshot.io/ shows this:

![](https://i.imgur.com/lHKpRsO.png)

[2016-06-28 19:12] blimmer opened #72 "Setting viewportOverrides with Ember.on doesn't work as expected"
In the readme, it is recommended to override options like this:

[code]

However, I noticed that setting viewportSpy wasn't working for me. AFAIK, when `Ember.on` runs is actually non-deterministic. Since we're setting up the observer in the `didInsertElement` hook in the addon, I actually think it's more appropriate to override like this:

[code]

to ensure that the properties are set before the

[2016-06-29 04:02] poteto commented on #72
Hey @blimmer, thanks for opening this issue. Your override is most definitely correct, although I would move the `super` call to come before the `setProperties`. A PR would be welcome!

[2016-06-29 14:49] blimmer commented on #72
@poteto I actually think it's important to call `_super` after setting the properties because `_super` will call the mixin's didInsertElement before you set the properties. Check it out:

[code]

and the console output:
[code]

[2016-06-29 14:53] blimmer commented on #72
Actually, why do we overwrite the options in the `init` [method](https://github.com/DockYard/ember-in-viewport/blob/master/addon/mixins/in-viewport.js#L29-L33) anyway?

In my use case, I just want to set the `viewportSpy` method and it seems weird that it gets overwritten on `init`. Seems like I should be able to do:

[code]

What's the reason for overwriting in `init` and requiring the user to ta

[2016-07-13 07:13] bargar commented on #71
Seems like this is a dupe of #68

[2016-08-05 17:57] rwwagner90 opened #76 "Fastboot errors"
`document is not defined`

Caused by

[code]

[2016-08-17 21:23] kellyselden opened #78 "is .jscsrc used?"
I don't see any reference to jscs in the project.

[2016-08-19 17:36] kellyselden opened #83 "RFC: Disable the mixin"

[2016-08-19 17:36] #83 closed

[2016-08-19 17:39] kellyselden opened #84 "RFC: Disable the mixin"
The component that's using this mixin needs the ability to be dumb, ie. not watch the viewport at all, or not add any event listeners. Would the API be better to say if you set `viewportRefreshRate` to zero, it will not register any listeners, or would a new bool to disable the mixin be better?

[2016-08-19 17:41] poteto commented on #78
I think that was a leftover when ember-suave was still being used. Should be removed

[2016-08-19 17:48] #78 closed

[2016-08-20 17:23] oligriffiths commented on #37
@poteto This still appears to be an issue. Elements taller or wider than the viewport do not trigger the enter/exit hooks. I notice that https://github.com/DockYard/ember-in-viewport/pull/62 attempts to fix the problem but hasn't been merged.

[2016-08-20 18:01] poteto commented on #37
@oligriffiths Could you try this in your package.json and let me know if it fixes your issue?

[code]

[2016-08-20 18:06] poteto commented on #76
That was removed a while ago, what version are you using?

[2016-08-20 18:08] #28 closed

[2016-08-20 18:09] #71 closed

[2016-08-20 18:09] #50 closed

[2016-08-21 18:12] oligriffiths commented on #37
@poteto That sort of works, however if the element is initially loaded and partially outside of the viewport, then the enter hook isn't triggered. For example, if the element is partially shown but partially below the bottom of the viewport, the enter hook is not triggered.

[2016-08-23 15:54] martndemus commented on #34
Closing because of old age.

[2016-08-23 15:54] #34 closed

[2016-08-30 19:58] kellyselden commented on #84
Solved by #87.

[2016-08-30 19:58] #84 closed

[2016-08-30 19:59] kellyselden commented on #26
Solved by #87.

[2016-08-30 19:59] #26 closed

[2016-08-31 18:09] rwwagner90 commented on #76
It's possible I was pointing to an old version. I haven't run into this lately, so I will close, and open again if I see it again.

[2016-08-31 18:09] #76 closed

[2016-09-09 14:14] rmcsharry opened #93 "Falls at 2nd hurdle - (1) installed (2) doesn't get recognised"
Seems like a great add-on, but in Ember 2.7 it cannot be found...?

component/trail-card.js
[code]

Error in console:

228 Uncaught Error: Could not find module `ember-in-viewport` imported from `trekclient/components/trail-card`

[2016-09-09 14:15] martndemus commented on #93
Just to be sure: Have you restarted the development server?

[2016-09-09 14:18] rmcsharry commented on #93
Thanks...note to self: never stay up all night coding.

[2016-09-09 14:18] #93 closed

[2016-09-10 08:53] thejase opened #94 "tolerance for only the top part of an element"
I can't seem to find a way to say, "trigger `viewportEntered()` as long as the top of the element is 50px in the viewport, and don't worry about the bottom."

My config:

      viewportTolerance: {
        top    : 50,
        bottom : 2000,  // I shouldn't have an element taller than this.
      }

Any thoughts anyone?

[2016-10-27 11:49] samselikoff commented on #10
Did #13 really close this? It seems like `window` is still hard-coded [here](https://github.com/DockYard/ember-in-viewport/blob/master/addon/mixins/in-viewport.js#L67).

Happy to PR this if you agree.

(Thanks for this awesome addon!)

[2016-10-27 21:41] Edwin-Lee opened #95 "Ember 2.9/2.10-beta compatibility? didEnterViewport no longer fires."
Big fan of the Mixin.  I've found it extremely useful for a lot of my components.

I've recently upgraded my ember to 2.9, then subsequently to ember 2.10-beta for the glimmer engine.
However I noticed the Mixin is no longer working and the didEnterViewport no longer fires.

I've made no changes to the component and I've also upgraded the ember-in-viewport mixin to 2.1.0 so it should be the latest

[2016-10-27 23:42] poteto commented on #10
Good catch, you're right the hardcoded `window` should be removed

[2016-12-03 20:14] les2 opened #96 "Need to coearse bounding client rect values to integers"
I originally reported this issue against ember-light-table here: https://github.com/offirgolan/ember-light-table/issues/199

This comment has all the relevant details: https://github.com/offirgolan/ember-light-table/issues/199#issuecomment-264662429

For your convenience, I'm copying that text below:

TL;DR -- this is a floating point bug ... in ember-in-viewport addon.

This is really hard to rep

[2016-12-03 20:15] les2 commented on #96
CC @offirgolan @buschtoens

[2016-12-03 20:58] les2 commented on #96
Updated description with instructions for reproducing the problem.

[2016-12-04 08:49] offirgolan commented on #96
@les2 thanks for taking this on. I was able to reproduce this on my machine as well via your demo site + instructions. I look forward for your PR!

[2016-12-05 08:53] buschtoens commented on #96
Fantastic detective work! :mag:

[2016-12-05 09:01] poteto commented on #96
Great job! Happy to accept the PR once it's ready

[2016-12-21 19:58] tomdale commented on #70
Could you just use `Infinity` as the value? I suspect doing an integer comparison is actually faster than having two different code paths from treating it as a separate case.

[2016-12-28 20:14] markmhx commented on #37
@poteto I've added https://github.com/DockYard/ember-in-viewport/pull/88/commits/0e316483dccbcf22ba58c375800ba104a1031ba3 to my package.json and it fixes this problem for me. I don't appear to be getting the same issue reported by @oligriffiths. It'd be great to see this branch merged into master so the dependency would be cleaner. Thanks!

[2017-01-05 12:36] simonihmig commented on #95
Cannot confirm, works as expected for me in an Ember 2.10 app!?

[2017-01-07 20:35] #96 closed

[2017-01-16 21:23] lifeinafolder commented on #37
Any updates on this?

[2017-01-27 16:37] VitalyPankin commented on #95
+1 same thing

[2017-02-16 05:08] oligriffiths opened #101 "Trigger when entering/exiting"
Hi

Would it be possible to allow for triggering `isEntering()`, `isExiting()` hooks for when the element is 1px in or out of the viewport. I'm using this to do lazy image loading and I want to start loading the image as soon as 1px of it enters the viewport, however currently the hook doesn't fire until the while image is within the viewport.

Oli

[2017-06-16 06:51] wouterds commented on #95
Can confirm it doesn't work with Ember 2.9

[2017-07-12 18:01] backspace commented on #101
Would the `viewportTolerance` option work for that?

[2017-07-25 11:04] danidr commented on #37
Hello everyone. Is no one going to merge either of those two fixes? This bug really breaks many use cases...
Thank you.

[2017-08-13 19:55] shankarsridhar commented on #101
@oligriffiths You can use the `viewportTolerance.bottom` option for you use case.
For example, if u wanna do it in your components, you can use the following snippet,

[code]

I am using the above snippet in my ember app to lazy compute and render components rendering charts. works just fine.

Good luck!

[2017-09-11 15:24] totanus opened #104 "didScroll event for elements exiting the viewport."
Feature request: didScroll event for elements LEAVING the viewport.

Example
[code]

[2017-09-15 13:27] kanongil opened #105 "Update to more recent ember-cli with ember-cli-babel@6"
For new apps, ember-cli-babel@6 is used, which means that a complete babel@5 engine is installed along with this addon. This can be avoided by upgrading the dependency.

Note: ember-getowner-polyfill needs to be updated to v2.x as well, since it is required for the update.

[2017-09-18 20:03] bcardarella opened #106 "Consider refactor using IntersectionObserver API"
rAF was a good stop gap over the more costly polling solution to enable smoother scrolling events, but even it has its limits perf wise. With ItnersectionObserver heading towards acceptance it could be a better long-term solution and ember-in-viewport should consider this the preferred method.

I would advocate for detecting the IntersectionObserver API, if it is available use it. If not fall back

[2017-09-18 20:28] rwjblue commented on #106
FWIW, there is an addon that we use in LI that leverage an `IntersectionObserver` polyfill. Unsure if it helps here or is completely unrelated (sorry if off topic).

Repos:

* https://github.com/linkedin/spaniel
* https://github.com/asakusuma/ember-spaniel

[2017-12-10 00:12] hybridmuse opened #115 "Demo link is dead"
Link is dead: http://development.ember-in-viewport-demo.divshot.io/

[2017-12-19 09:58] bobisjan opened #116 "Use #ember-testing-container as a context when testing"
Hi,

when updating to Ember 2.17 our tests start failing due to invalid `didEnterViewport` events - component with `InViewport` mixin was in `window` viewport, but was outside the `#ember-testing-container` viewport.

It seems that `InViewport` mixin should use `#ember-testing-container` when testing as a context instead of `window` here

- https://github.com/DockYard/ember-in-viewport/blob/master

[2017-12-19 14:35] snewcomer commented on #116
@bobisjan Did if fail b/c it didn't properly scroll the page?  What version of Ember were you upgrading from?

[2017-12-19 14:38] snewcomer commented on #116
@bobisjan There is also this issue #95.

Also PR #113 may fix this issue.

[2017-12-19 15:27] bobisjan commented on #116
Our application is running on Ember 2.16.

Not sure if it's related, I had the opposite problem - `didEnterViewport` was fired when it should not.

After making change 2., it scrolls correctly in `#ember-testing-container`.

<hr>

The changes I made locally to pass tests:

1. Update code in `InViewport` mixin to use `#ember-testing-container`,
2. Update logic in our `scrollToElement` test helper t

[2017-12-19 16:03] snewcomer commented on #116
@bobisjan See the line below for an example of scrolling an element into view if it helps you.

https://github.com/DockYard/ember-in-viewport/pull/113/files#diff-919b4e42a185a63ca7395afa766d8502R17

We should probably add some documentation on testing as well to the README as wel.

[2017-12-20 09:08] bobisjan commented on #116
@snewcomer, I've run tests against your branch, quick summary:

1. tests passed ✅ with `viewportUseIntersectionObserver = true`,
2. tests failed ⛔️ with `viewportUseIntersectionObserver = false`.

I'm not sure how 1. can pass, because observer has `root = null`, so it should use whole viewport (not `#ember-testing-container`s viewport) and I would expect that it fails the same way, but I'm missing

[2017-12-20 14:55] bobisjan commented on #116
@snewcomer, [here](https://github.com/snewcomer/ember-in-viewport/compare/intersection-observer...bobisjan:testing-context) are changes I made based on your `intersection-observer` branch to make our tests to pass with `viewportUseIntersectionObserver = false`.

[2017-12-20 15:26] snewcomer commented on #116
@bobisjan Cool!  So a few things of note:

1.  I may have not thought of all the scenarios, but generally you will want the library to choose which method to use (IntersectionObserver, rAF, or scroll events).  And IntersectionObserver is, in most all cases, the one you want to use and the default in that PR.  The perf improvements are significant so setting `viewportUseIntersectionObserver = false

[2017-12-20 19:22] rwjblue commented on #116
@bobisjan - Would you mind reviewing the changes made in https://github.com/ember-cli/ember-cli/pull/7507 and apply them to your app? There was a bug in the blueprints of ember-cli <= 2.17.1 which caused component tests to be scoped to the wrong root element (they would be appended to `body` instead of `#ember-testing`).  I'm definitely not certain this is the issue you are running into, but I wan

[2017-12-21 09:20] bobisjan commented on #116
Thanks @rwjblue,

with `ember-cli@2.17.1` and changes from [ember-cli/ember-cli#7507](https://github.com/ember-cli/ember-cli/pull/7507) our tests pass ✅ with  `ember-in-viewmport@2.1.1` (current) and also with @snewcomer's `interesection-observer` branch 🎊.

So, I think that this issue can be closed ☺️.

[2017-12-21 09:20] #116 closed

[2017-12-21 09:29] bobisjan commented on #116
@snewcomer, I totally agree that add-on should use the best method available in a browser and automatically fall down 👍. I've used `viewportUseIntersectionObserver = false` to ensure that tests pass in both scenarios.

Definitely I look forward to your PR to be merged and released 😍.

[2017-12-21 12:34] rwjblue commented on #116
Awesome, thank you for confirming @bobisjan, and I’m sorry for that specific bug :(

We’ll try to get 2.17.2 out soon to hopefully prevent others from hitting it...

[2017-12-21 15:25] snewcomer commented on #116
@bobisjan great hunting everybody!  Glad it was resolved :sweat_smile:

[2018-01-19 14:09] #105 closed

[2018-01-19 16:32] simonihmig opened #118 "Remove jQuery"
... of course! 😬

[2018-01-19 16:42] simonihmig commented on #118
I *might* be able to do this, but there are a few open PRs that should probably be merged first (especially #113), to not create too many merge conflicts...

[2018-01-28 19:29] snewcomer opened #119 "Investigate use of one Intersection Observer"
#113 and @BartTK brought up one potential performance problem when using many intersection observers on a page (imaging thousands of components that are being observed by a separate intersection observer).

This could be easily solved with only one intersection observer per scrollable area to manage an array of entries.  A simple change from `unobserver` to `disconnect` will also be needed.

Would

[2018-01-30 12:14] simonihmig commented on #118
@snewcomer sorry for the late answer. It looks good to me at first sight, but I am not able to really review this thoroughly. Also because I don't really know much about the `IntersectionObserver` stuff unfortunately...

[2018-02-01 14:23] arturalkaim opened #120 "Change in viewport without scroll don't trigger didEnterViewport"
## Version
**2.1.1**

## Test Case
I have a list with images that are loaded when they are on the viewport.
When I scroll the images are loaded as expected.

## Steps to reproduce

## Expected Behavior
I have now a set of filters that filter the images in the list. When I change the filter I expect that the images that were hidden and now are in the viewport to be loaded.

## Actual Behavior
The e

[2018-02-01 14:58] snewcomer commented on #120
@arturalkaim Thanks for reporting the issue!  This may have something to do with some boolean logic in the mixin.  Would you mind trying one thing out for me?  Could you test out this PR's [branch](https://github.com/DockYard/ember-in-viewport/pull/113)?

`"ember-in-viewport": "git+ssh://git@github.com:snewcomer/ember-in-viewport.git#intersection-observer"`

And let us know what the effect is?  If

[2018-02-01 15:17] arturalkaim commented on #120
Thanks @snewcomer,  I can test that in a bit.

To workaround this issue I'm calling `Ember.$(window).scroll();` whenever I do any filtering.

[2018-02-02 04:08] #37 closed

[2018-02-02 04:08] #106 closed

[2018-02-03 00:25] cibernox commented on #115
Yeah, 👍 . This needs a new deploy.

[2018-02-05 17:26] snewcomer commented on #67
This has been fixed with the possibility to define a scrollable area!  Lmk if that wasn't what you were trying to fix.

https://github.com/DockYard/ember-in-viewport#advanced-usage-options

[2018-02-05 17:26] #67 closed

[2018-02-06 17:12] snewcomer commented on #120
@arturalkaim Could you try out 2.1.2 and see if anything has changed for you?

[2018-02-07 00:20] bmx269 commented on #94
I am looking for a similar solution. I do not care if the bottom is visible.

[2018-02-07 05:00] snewcomer commented on #101
Intersection Observer is on master!  So `threshold` is the relevant field in the IntersectionObserver API.  `intersectionThreshold` is one of the properties you can set on the mixin - 0 through 1.  1 meaning every pixel of the target must be visible.

Lmk if there is still some requirements missing.

[2018-02-07 05:00] #101 closed

[2018-02-07 05:03] snewcomer commented on #104
@totanus IntersectionObserver is on master!  The method I think you are looking for is `didExitViewport`.  Here is the relevant [line](https://github.com/DockYard/ember-in-viewport/blob/master/addon/mixins/in-viewport.js#L146).  The scroll direction is [here](https://github.com/DockYard/ember-in-viewport/blob/master/addon/mixins/in-viewport.js#L166) as well.

Lmk if you have any other concerns.

[2018-02-07 05:03] #104 closed

[2018-02-07 05:08] snewcomer commented on #94
@bmx269 What version are you on?  Intersection [Observer](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API) is on master now - no IE support though.

`intersectionThreshold` is the relevant property to set on the mixin.  `0` means when the first pixel of the target enters the viewport.  1 means the whole target must be in the viewport.

[2018-02-13 14:47] sheriffderek commented on #115
If divshot has merged into firebase, [surge.sh](http://surge.sh/) may be a solid option for demo sites (that don't require fastboot). https://github.com/kiwiupover/ember-cli-surge

[2018-02-13 20:13] teakap opened #124 "Error: Could not find module `@ember/polyfills` imported from `myapp/initializers/viewport-config`"
I get the error in the browser console as soon as the server runs.
I am using:
`ember-in-viewport: ^2.1.1`
`ember-cli: ^2.12.3`

I've cleaned node and bower modules a couple of times, but the issue remains. Any ideas?

[2018-02-13 20:32] snewcomer commented on #124
@teakap Ah thank you for bringing our attention to this!  The new ember imports `@ember/...` is only safe if it is in the `addon` folder.  I think the instance-initializer essentially needs to be in the addon folder and re-exported in the `app` folder.  Let me create an issue for it.

[2018-02-14 15:51] #124 closed

[2018-02-14 15:52] snewcomer commented on #124
@teakap Would you mind trying out `ember-in-viewport: "DockYard/ember-in-viewport"` (master branch) in your package.json and lmk if the PR fixed it?  We will release `2.2.1` if so.  Thanks again!

[2018-02-15 09:38] teakap commented on #124
@snewcomer I can confirm! No console errors, and the expected behavior is the actual behavior :)

[2018-02-17 03:49] snewcomer commented on #40
@carloscheddar This uses IntersectionObserver now.  Lmk if this is still a problem.

https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API

[2018-02-17 03:49] #40 closed

[2018-02-20 04:39] snewcomer opened #128 "Support for rAF and scrolling up"
[code]

Currently, IntersectionObserver will fire `didEnterViewport` hook when in viewport if scrolled up.  However, rAF currently only detects if in viewport IFF bottom < height.  In the case of a loader component above a list of `ul` tags, this will not trigger correctly.

Given no IE support, it may be a good idea to support this type of feature.

[2018-02-24 01:00] snewcomer opened #129 "Bottom and Top Margin Issues with IntersectionObserver"
## Issue

### RAF

Currently we use `bottom` to determine when we are in-viewport [here](https://github.com/DockYard/ember-in-viewport/blob/master/addon/utils/is-in-viewport.js#L23).  This wasn't documented but ppl used it to start fetching before reaching the sentinel element.

### IntersectionObserver

`bottom` actually extends the "capturing frame" of your root.  So in the case a user passed `b

[2018-02-24 15:17] #118 closed

[2018-02-24 17:40] #129 closed

[2018-02-25 00:20] snewcomer opened #131 "rAF in Scrollable Area"
Looking at using this addon in Safari, if in a scrollable container, `getBoundingClientRect` is computed based off of the window.  So if the table is set 200px below or at the top of the screen, `getBoundingClientRect` on the element (sentinel) may not be sufficient.

If using scrollable container, we need to also get the client rect for the scrollable container and determine if in viewport IFF `b

[2018-02-25 00:52] #131 closed

[2018-03-19 01:10] fusion2004 commented on #115
[Netlify](https://www.netlify.com/) is a good option, too.

[2018-03-30 19:23] lougreenwood opened #139 "didExitViewport not firing on Ember 3.1 beta?"
## Version
3.0

ember-cli: 3.1.0-beta.1
node: 9.10.1
os: darwin x64

## Test Case

## Steps to reproduce
Scroll the page

## Expected Behavior
Scrolling an element out of view should trigger the `didExitViewport`

## Actual Behavior
`didExitViewport` is not fireside when scrolling an element out of view.
`didEnterViewport` is only fired once when scrolling into view.

[2018-03-30 20:09] snewcomer commented on #139
@lougreenwood Hi 👋  I'm wondering what your exact scenario may be.  A few questions:

1.  Is this on Chrome?  Same behavior on Firefox as well?
2.  Is your scrollable area the window?
3.  What are some of the config options you pass?

Also, I put some notes on the `intersectionThreshold`, so curious if any applies to you.  Look forward to hearing back!

[2018-04-05 09:10] abulrim opened #141 "Memory leak: scroll event listener not being removed"
## Version
3.0.0

## Steps to reproduce
- Enter route that has a component that uses `in-viewport` mixin on `window`
- Leave to route that doesn't have that component
- Check event listeners on `window` in the dev tools
- Notice scroll event still attached

## Expected Behavior
Scroll events should be cleaned when element destroyed

## Likely Culprit
The changes done to the `_unbindListeners` meth

[2018-04-05 10:39] abulrim commented on #141
Also removing the event listener in the [current implementation](https://github.com/DockYard/ember-in-viewport/blob/master/addon/mixins/in-viewport.js#L236) won't work since the callback is a new function each time

[2018-04-06 16:29] snewcomer commented on #120
@arturalkaim Will close for now.  Lmk if `3.0.1` helps and feel free to open again.

[2018-04-06 16:29] #120 closed

[2018-04-16 04:56] snewcomer commented on #139
@lougreenwood Let me know if you are still having the problem.  3.0.2 is upgraded to Ember 3.1.  Closing for now but feel free to open again if you still are seeing an issue!

![did_exit_viewport](https://user-images.githubusercontent.com/7374640/38790690-be6fa0a0-40f7-11e8-93d7-60c774db3e8f.gif)

[2018-04-16 04:56] #139 closed

[2018-04-18 15:49] mkay581 opened #142 "viewportEnabled is undefined in addon integration tests"
## Version
2.1.1 (I've also tried this on latest version and still same behavior)

## Test Case
[`viewportEnabled` is `undefined`](https://github.com/DockYard/ember-in-viewport/blob/v2.2.1/addon/mixins/in-viewport.js#L49) when testing this package mixed into a component (inside of an addon) during integration testing. It also appears none of the [default configs](https://github.com/DockYard/ember-

[2018-04-20 16:40] snewcomer commented on #142
@mkay581 I haven't been able to reproduce.  I still need to add more tests to this PR to upgrade `ember-light-table`, but seems `viewportEnabled` is true on my end.  If you had a screenshot to reproduce, that would help!

https://github.com/offirgolan/ember-light-table/pull/548

[2018-04-22 17:49] snewcomer commented on #142
Closing for now.  Talked with @mkay581 and the latest versions of this addon fix the issue.

[2018-04-22 17:49] #142 closed

[2018-04-27 15:24] #42 closed

[2018-05-08 19:43] kiwiupover opened #146 "BUG: viewportUseIntersectionObserver : true in config throw error in Safari"
## Version
3.0.3

## Test Case

## Steps to reproduce
ADD `viewportUseIntersectionObserver : true` to the viewportConfig object

## Expected Behavior
I would expect that if the IntersectionObserver in NOT support by the browser `ember-in-viewport` would fall back to rAF

## Actual Behavior
Throws an error `Can't find variable: IntersectionObserver`

[2018-05-08 20:27] snewcomer commented on #146
@kiwiupover Hey!  I think we may need to update the docs.  That is what it currently does - it's [fallback](https://github.com/DockYard/ember-in-viewport/blob/master/addon/mixins/in-viewport.js#L59) is to rAF if it does not support IntersectionObserver.

I don't think there is any reason one would want to hardcode it `true` in your component's config (that is why I think I need to update the docs

[2018-05-08 21:25] kiwiupover commented on #146
@snewcomer I agree the docs is the right place todo update this.

Do you have a use case where you would not want `IntersectionObserver` ?

[2018-05-08 21:26] kiwiupover commented on #146
Here is a use case from our code.
[code]

[2018-05-08 21:26] kiwiupover commented on #146
I will update the docs

[2018-05-09 02:55] snewcomer commented on #146
@kiwiupover Thanks! Yeah I haven't come across a need to _not_ use IntersectionObserver.  Sometime in the future, we will have a good polyfill and eventually we will just rely on IntersectionObserver.  So would love to hear about a good use case.  So for now, we have the can-use-intersection-observer, which checks for 'IntersectionObserver' in window.

https://github.com/DockYard/ember-in-viewport

[2018-05-11 13:37] snewcomer commented on #146
@kiwiupover I got some time today if you would like me to update the docs

[2018-05-11 20:19] snewcomer commented on #146
@kiwiupover I put something up real quick #147.  Lmk what you think.

[2018-05-12 20:50] #146 closed

[2018-07-19 21:13] erichonkanen opened #151 "Not Working"

[2018-07-19 21:15] #151 closed

[2018-07-21 23:52] snewcomer commented on #119
Tackling this this today...

[2018-07-27 21:07] #119 closed

[2018-08-13 14:58] Onomanatee opened #155 "Issue reinitialising the requestAnimationFrame service on Safari/iOS"
## Overview

Occurs on Safari and iOS devices, on an ember 2.18.2 app.

I have an ember app using ember-infinity to render a large list of cards. Each card is clickable, and routes the user to a detail page. This routing causes the elements on the previous page to be destroyed, of course. This is a problem on the Safari browser when it comes to the _infinity-loader_ component.  Since it does not s

[2018-08-23 18:14] snewcomer commented on #155
@Onomanatee Could you check with 3.1.2 when you get a chance?  Thanks for the in depth issue!

[2018-08-24 11:45] kevinansfield opened #160 "jQuery sizzle attribute breaks `-observer-admin` root lookups"
## Version
3.1.2

## Test Case
... working on it ...

## Steps to reproduce
I haven't figured out an exact reproduction step yet but it's consistently repeatable after updating `ember-infinity` and `ember-in-viewport` in Ghost-Admin.

I'm passing a `scrollable` selector attribute to `{{infinity-loader}}` which in turn passes the selector string the to `scrollableArea` attribute on the [`InViewport

[2018-08-24 15:27] snewcomer commented on #160
@kevinansfield Oh you are right 👍.  I'm wondering if we should pass along the scrollableArea `String` and have that be the `root`...

[2018-08-27 13:13] dudv commented on #160
I've also got that error after updating `ember-infinity`. Is there any workaround you can recommend? Thanks.

[2018-08-27 14:02] snewcomer commented on #160
@dudv Hopefully will get these libraries updated today with #161!

[2018-08-28 02:13] bodikqlar commented on #160
thanks, I had this problem and after lib update it was fixed

[2018-08-28 04:57] snewcomer commented on #160
Perfect!  I'll let @kevinansfield close when he has verified it works.  Thx again everybody!

[2018-08-28 10:03] dudv commented on #160
The last release fixed it for me as well. Thanks a lot!

[2018-09-23 23:46] #70 closed

[2018-09-27 19:26] pfgilbert opened #165 "Scrollable area width not calculated correctly in _setViewportEntered()"
In the non-Observer case, if a `scrollableArea` is provided, the `_setViewportEntered()` method in addon/mixins/in-viewport.js appears to calculate the width of that area incorrectly.

What's in the code:
[code]

What I think it should be:
[code]
Was this done intentionally?  I can try to come up with a simple test case that demonstrates why/how it's a problem, but to me this just looks like an ob

[2018-09-27 20:58] pfgilbert commented on #165
@snewcomer It looks like this is came in when the height calculation was updated in this commit: https://github.com/DockYard/ember-in-viewport/commit/4a11b4e70dd388b444c1e8fe0d1a7e4860df6700#diff-2c2e18a7ca7e78c5dad2dd4b0e42d657

[2018-09-30 06:45] snewcomer commented on #165
@pfgilbert 💯 I think what you found is a bug.  I have a bug w/ right-left scrolling and this may help so thank you!

Lmk if you have time to put up a PR.  Otherwise I can get to it sometime later this week.

[2018-10-09 20:49] adong commented on #40
I think its overlooked a condition that:

Parent element is `display: none`, while children is `display: block` or whatever.

Maybe add another check like

[code]

[code]

Just a thought

See reference:
1. https://davidwalsh.name/offsetheight-visibility
2. https://stackoverflow.com/questions/15924751/check-if-a-element-is-displaynone-or-block-on-click-jquery

[2018-10-11 21:26] #165 closed, assigned to nobody

[2018-11-30 20:03] samselikoff opened #171 "Upgrade instructions"
Hi there!

Came here because I'm upgrading major versions and I was looking for what the reason for the 2 -> 3 release was. I couldn't find a Changelog but I found [the 3.x release](https://github.com/DockYard/ember-in-viewport/releases/tag/3.0.0) which referenced some PRs.

Are there any breaking changes that we need to be aware of going from 2.x to 3.x?

[2018-11-30 20:29] snewcomer commented on #171
Nope!  Same API and general perf improvements.  Will put up another release doc today.

[2018-11-30 21:17] snewcomer commented on #171
@samselikoff Here are some release notes.  The thing that triggered 2 -> 3 was updating this library without jQuery and updating lots of deps.  Lmk if you have any questions!

https://github.com/DockYard/ember-in-viewport/releases/tag/3.2.0

[2018-11-30 22:02] samselikoff commented on #171
Cool! Maybe in the 3.0 release (since there's no Chnagelog) we could add something like "Upgrade notes: none"? and basically what you just said above?

Btw thanks for the continued work on this addon, it's one of my absolute favs! 🙏

[2018-12-28 09:13] lolmaus opened #176 "Testing best practice guides? waitFor is inoptimal"
Hi!

I've tried integration-testing my component that relies on `ember-in-viewport` and found the tests to be flakey: randomly failing or passing. After pulling my hair as I spent hours debugging in wrong directions, I've realized that it's `ember-in-viewport` not playing along with `await settled()`.

I've looked into `ember-in-viewport` own tests and found that they rely on `waitFor(selector)`.

[2019-03-04 15:32] gmurphey opened #177 "Feature request: `did-enter-viewport` and `did-exit-viewport` element modifiers"
Would be awesome to be able to do things like:

[code]

Where `enterCallback` and `exitCallback` are functions or actions that receive the `element` as a parameter.

[2019-03-07 03:23] snewcomer commented on #177
Interesting idea and thx for putting up an issue.  So you are referring to this RFC I'm guessing? https://github.com/emberjs/rfcs/pull/353/files

Since these functions are called once I believe, what exactly would these modifiers do?  What happens when they elements they are bound to are not in viewport, but are still only called once (ie. not watchign the DOM)

[2019-03-20 14:11] snewcomer commented on #177
@gmurphey Is this something you would want to work on?  Otherwise, I'll see about getting it done on our side!

[2019-03-22 16:36] snewcomer commented on #177
I'm starting work on this.  There is quite a bit to do, including ensuring we have a shared cache that can be referenced across boundaries (mixin / modifier)

[2019-03-24 01:01] snewcomer commented on #177
@gmurphy #179. Seems pretty simple and would require installing https://github.com/emberjs/ember-render-modifiers and using the ‘did-insert’ hook.  What do you think?

[2019-03-26 02:12] #177 closed

[2019-04-02 08:35] gossi opened #180 "Handle glimmer components"
Since the `ember-in-viewport` addon mostly works through the mixin, it is impossible to use with native classes / glimmer components. Can the latter also be supported?

Maybe a combination of modifiers/decorators? 😬

[2019-04-02 14:18] snewcomer commented on #180
@gossi yep I added [modifier](https://github.com/DockYard/ember-in-viewport#modifiers) support recently.  Part of those changes are my medium term goal to move the logic to a service/manager in order to facilitate different constructs.

[2019-04-10 05:17] snewcomer commented on #180
Lmk if you have any other questions.  Would be happy to help!

[2019-04-10 05:17] #180 closed

[2019-04-10 05:20] snewcomer commented on #68
Closing for now.  The dummy app has some good examples.  It is a good idea though, esp for new ppl. But not sure anybody has the time here to get it up and running.

[2019-04-10 05:20] #68 closed

[2019-04-10 05:21] #115 closed

[2019-04-11 06:08] mcfiredrill opened #181 "viewportspy sets viewportEntered to false (permanently)"
The docs for viewportSpy state:
`When false, the Mixin will only watch the Component until it enters the viewport once, and then it sets viewportEntered to true (permanently),`
However, it seems that it sets viewportEntered to `false` ? https://github.com/DockYard/ember-in-viewport/blob/master/addon/mixins/in-viewport.js#L305

Is this behavior incorrect, or are the docs wrong?

## Version
3.3.0

#

[2019-04-12 14:39] snewcomer commented on #181
@mcfiredrill It will only stop if `viewportSpy: false`, which is the default.  Do you think the docs could be improved?  If so, feel free to submit a PR!  THanks!

https://github.com/DockYard/ember-in-viewport/blob/master/addon/mixins/in-viewport.js#L121

[2019-04-16 08:02] gossi commented on #180
I like the idea for the modifier. It's still WIP if I understand the readme correctly. If it's moving forward, I'm fine with what's coming.

I have more concerns about the mixin. Glimmer components use native classes and they don't support mixins. Maybe a decorator instead, if that will do the job? Then it can be something like this:

- EmberObject: Use mixin
- Native Classes: Use modifier + decor

[2019-04-16 14:06] snewcomer commented on #180
@gossi modifier support I think is baked in now with the `did-insert` modifier.  Adding a modifier would be unnecessary with the existing tools we have but let me know if you think otherwise.

The next thing I am working on is a service approach to make the mixin optional, which requires a registry of elements.  Hopefully will get that done by the end of the month at which time we can explore deco

[2019-04-16 16:06] gossi commented on #180
Sounds good. If you planning on opening a PR for this, then ping me. So I can provide you with feedback in early development stage from the perspective of a consumer to this library.

[2019-04-22 11:44] kevinansfield opened #186 "3.5.0 `inViewport` injection causes incompatibility with ember-light-table"
There was an unintentional breaking change that turned up in 3.5.0, at least for its usage in `ember-light-table`.

In `ember-light-table`, the component which extends from the InViewportMixin has a [closure action called `inViewport`](https://github.com/offirgolan/ember-light-table/blob/69fe819d9bf404c0bfed8a32c197d61176f4f678/addon/templates/components/lt-body.hbs#L61) which clobbers the recentl

[2019-04-22 14:34] snewcomer commented on #186
😢

[2019-04-22 14:38] snewcomer commented on #186
@kevinansfield Perhaps rename the service injection?  `inViewportService: inject('in-viewport')` or something like that?

[2019-04-27 18:06] gandalfar opened #191 "Deprecation: events.inherited-function-listeners"
When upgrading my app, I've started seeing the following deprecation warning: `events.inherited-function-listeners`. I can't reproduce it inside dummy app in this repo, but it's present when I create a new ember app.

The full error is:

[code]

Repository with a single component where I see this warning is here:
https://github.com/gandalfar/viewport-test

## Version
    "ember-source": "~3.8.1",

[2019-04-27 22:17] snewcomer commented on #191
@gandalfar This should be fixed in 3.5.2!

Ref #185

[2019-04-27 22:17] #191 closed

[2019-04-29 16:03] lolmaus commented on #176
@snewcomer This issue is kinda big problem for us. Mind having a look?

[2019-04-29 18:47] gandalfar commented on #191
Works great. Thanks!

[2019-05-05 22:38] snewcomer commented on #181
Closing for now.  Feel free to submit a PR to the docs or lmk if you have other questions!

[2019-05-05 22:38] #181 closed

[2019-05-15 21:04] abel-n opened #195 "`didScroll` not triggering"
## Version
3.5.5

## Issue
I think `didScroll` doesn't trigger as it is supposed to according to docs. In `addon/mixins/in-viewport.js:265` the triggering depends on `viewportEntered` option instead of `viewportDidScroll`.
[code]

Although the docs mention `didScroll` will be turned off by default that is not the case yet.

Thank you for the great addon! :muscle:

[2019-05-17 15:14] snewcomer commented on #186
Hi @kevinansfield 👋 Anymore thoughts?

[2019-05-21 10:43] fran-worley commented on #186
@snewcomer I think this might require a change in ember light table as I've just tried bumping the ember-in-viewport version addon dependency (even as low as v3.0.4) and am getting this and other similar errors...

[2019-05-21 14:02] snewcomer commented on #186
@fran-worley Yeah I think you are right.  The first step involves bumping the deps and travis config only back until 2.16.  Then I think we can go from there.

https://github.com/offirgolan/ember-light-table/pull/682

[2019-05-21 15:44] fran-worley commented on #186
@snewcomer see https://github.com/offirgolan/ember-light-table/pull/693 for the version bump and fix. I can't see a way around the API change for ember light table as mirroring the service name really can't be a good idea!

[2019-05-22 09:08] fran-worley commented on #186
@kevinansfield this is being fixed in ember-light-table #693 which will hopefully be released as v2.0.0.beta.4 once we've finished it! I suspect that this issue can then be closed as it's ELT and not ember-in-viewport at fault here.

[2019-05-24 00:55] #195 closed

[2019-05-26 15:08] #186 closed

[2019-06-06 12:07] snewcomer commented on #176
@lolmaus Interesting ideas.  On one hand, tests that invoke didEnterViewport usually result in some operation (whether sync/async) and I am able to assert the successful operation. So `waitFor` and `waitUntil` have been helpful whereas waiting for `didEnterViewport` may not necessarily work for, say lazy loading images or other async operations.  But I agree that some cases may not be optimal with

[2019-06-06 13:40] lolmaus commented on #176
That's not the case for me. :(

The problem is that the test resumes *before* `didEnterViewport` fires and initiates a waited-upon operation.

So in our tests we have to do this:

[code]

Items are fetched via `store.query`. The `store.query` operation is properly waited for, but the problem is that it is initiated by `didEnterViewport`.

`didEnterViewport` seems to be async (in a sense that it's

[2019-06-06 14:25] snewcomer commented on #176
So something like this doesn't work?

[code]

Even `{ options: 3000 }` as the second arg to `waitUntil`...

[2019-06-06 15:21] lolmaus commented on #176
It does, but it's an ugly hack.

Instead of requiring an ad-hoc check to be crafted, unique for every case, the addon should provide a general way to wait for `didEnterViewport`.

Apparently, `waitFor('.my-in-viewport-component')` does not work because `didEnterViewport` *sometimes* fires asynchronously.

[2019-06-06 15:51] snewcomer commented on #176
I think we need to first avoid referring to these as "ugly hacks".  They are **definitely** not as long as the test is deterministic.  These are simply ways of asserting the logic as a result of entering the viewport is in the DOM.

Now if we await for `didEnterViewport`, that may be a good idea.  Would one have to necessarily `return` from that method for the await to properly work?

[2019-06-06 16:33] lolmaus commented on #176
I have explained in the top post why I consider `waitFor` ugly. `waitUntil` is slightly better since it is more versatile, but it's still suboptimal and a PITA to use.

There are situations when using a tip of a knife is a reasonable way of unscrewing a screw. I mean, when it's urgent and you have no screwdriver around. But "sometimes reasonable" does not prevent it from being an ugly trick that m

[2019-06-06 17:24] snewcomer commented on #176
I think I have lost the motivation to put in the work here.  If you would like to make a PR, I'd be happy to review and merge.

[2019-06-07 12:14] lolmaus commented on #176
OK, but before I proceed to coding, I would like to agree upon the design and resolve some questions.

As I said above, I'm thinking about using custom tokens to reference components from tests.

A token could be set on component like this:

[code]

Note: using the `init()` hook should not be required to set `viewportToken`.

Then it can be used in tests like this:

[code]

The above is all the ne

[2019-06-11 23:55] edeis53 opened #201 "inViewport.startIntersectionObserver is not a function"
I was actually just preparing a demo repo to reproduce another bug for iOS and found this.

Latest version of in-viewport fails. Both in fresh app and upgrading in our existing app.

## Version

"ember-in-viewport": "^3.5.8"
"ember-cli": "~3.7.1",

## Test Case

Use this repo at this revision:
https://github.com/edeis53/inviewport-ios-issue/commit/604265ae5a8a325b44fee27bf4df35ef3d8a2912

## Steps

[2019-06-11 23:58] edeis53 commented on #201
actually, going to close for now. I think I have an idea on what the issue is.

[2019-06-11 23:58] #201 closed

[2019-06-12 00:57] snewcomer commented on #201
hi @edeis53.  what was the issue?

[2019-06-12 01:55] edeis53 opened #202 "Viewport tolerance detection fails on scrollable elements in iOS webkit and Mac Safari"
## Version

"ember-in-viewport": "^3.5.8",
"ember-cli": "~3.7.1",

## Test Case

Full test case.
https://github.com/edeis53/inviewport-ios-issue

## Steps to reproduce

Clone the repo. Then `ember server` and test on an actual iOS device. I was using iPad.

Visit the following routes via the links in the app and try scrolling:
`horizontal-scroll within an element`
`vertical-scroll within an elemen

[2019-06-12 02:10] edeis53 commented on #201
We had a component with the property `inViewport` that was consuming the `InViewportMixin`. We got the error after upgrading to the latest version of ember-in-viewport, which I can see injects a service as `inViewport`. I renamed the component's property to something else and all is good there.

Now I have a full working test case for a much better bug submitted! https://github.com/DockYard/ember-

[2019-06-12 02:44] edeis53 commented on #202
Also tested the demo against android chrome. Works in all scenarios.

Android
Chrome: Works! :) Version 74.0.3729.157

[2019-06-12 02:58] edeis53 commented on #202
You can also reproduce this error using ember-in-viewports dummy app.

Use the `Infinity Right Left` demo.

Set the tolerance to 500 or so.
[code]

Load up Safari on MacOS Desktop.
-Scroll to the end of the frame, the infinity load items will only load when you reach the end of the scroll.

Load up Chrome on MacOS Desktop
-Try scrolling to the end of the frame, the inifinity load items will at the

[2019-06-12 03:34] snewcomer commented on #202
@edeis53 Amazing reproduction!  I have noticed the same thing but haven't looked into it too much.  I assumed it was due to differing implementations of the spec.  What do you think?

[2019-06-12 06:20] edeis53 commented on #202
@snewcomer I haven't had any experience with the spec or api for intersection observer before. So I just build out a new demo page in my repo that uses just pure intersection observer. Yes, it seems it's an issue at webkit's end. I opened a bug here: https://bugs.webkit.org/show_bug.cgi?id=198784 please add anything you think might help in getting the ticket notice and solved.

[2019-06-13 15:09] lolmaus commented on #176
@snewcomer Bump.

[2019-06-13 15:42] snewcomer commented on #176
Honestly I'm not sure if the juice is worth the squeeze. A lot of code to manage. I'll let you make that decision though.  Otherwise not a whole lot to comment on other than thinking about what trade offs we are bringing onto this project.

[2019-06-28 00:46] edeis53 commented on #202
My ticket is now patched and working in Safari Technical Preview. Should be pushed to production iOS in version 13 or so.

[2019-06-28 00:46] #202 closed

[2019-07-15 21:03] allthesignals opened #203 "Memory leak: Related to WeakMap?"
![image](https://user-images.githubusercontent.com/5004319/61248971-26037c00-a722-11e9-9df6-e225d708ee3f.png)

I've been working on memory snapshots for my app, and this is one that consistently appears leftover after running a test. The relevant lines that appear in the snapshot are [here](https://github.com/DockYard/ember-in-viewport/blob/024d41afde79b6d1b3e08324a11004c4b4412507/addon/services/i

[2019-07-15 21:44] allthesignals commented on #203
This seems relevant, maybe I am misinterpreting: https://discuss.emberjs.com/t/datadown-to-a-component-leads-to-memory-leak/14649/5?u=wmattgardner

[2019-07-16 05:37] snewcomer commented on #203
@allthesignals Interesting!  My understanding was similar.  If the path to the key or the weak map itself was dropped, the value will be gc'ed.  But what you are showing me is either

1. the `destroy` method isn't being called on the service and de-referencing the `registry` on the service
2. the `destroy` method is being called, but somehow Ember/the service is still retaining some path to the We

[2019-07-16 16:34] allthesignals commented on #203
Hmm I can't seem to reproduce anymore. I don't understand why but the Chrome memory profiler sometimes produces inconsistent results across browser sessions. I'll give it another go later, but I'm spinning my wheels a little bit trying to do this, which in the past has been a sign that I am doing something differently and not realizing it.

[2019-07-23 14:19] jherdman opened #204 "Cannot Use with Ember 3.11"
## Version

3.5.8

## Test Case

Install this addon in a new Ember 3.11 project, and have a classic component like this:

[code]

## Steps to reproduce

Boot up your test suite

## Expected Behavior

Ember runs

## Actual Behavior

Ember reports the following error:

[code]

It took a little head scratching, but it seems that there's some kind of mismatch between the use of native classes in this

[2019-07-24 00:10] snewcomer commented on #204
Hey @jherdman!  Yeah in the case you are showing, we have a mix of framework objects that `extend()` (the mixin) and native classes (the service). You are right it does suggest a breaking change.  I think it might be worthwhile to try and see if refactoring the mixin to a native class helps.

[2019-07-24 13:27] jherdman commented on #204
Is there any particular reason that the mixin couldn't simply be a component subclass that consumers of this lib subclass in turn? As it is it feels a little awkward to use:

[code]

[2019-07-24 16:37] snewcomer commented on #204
Ah you might have another dependency that is clobbering the 3.5.8 version.  observer-admin is not a service anymore.  Can you check with [ember-cli-dependency-lint](https://github.com/salsify/ember-cli-dependency-lint)?

[2019-07-24 19:49] jherdman commented on #204
You are indeed correct. Resolving this fixed the root problem.

[2019-07-31 18:48] #204 closed

[2019-08-23 03:06] isao commented on #203
Clicking the GC button (looks like a trash can) before taking the heap snapshot, will help reduce the chance of noise in the data.

[2019-08-27 16:57] mehulkar opened #205 "Modifier without mixin"
I'd like to be able to use the underlying goodness of this addon in Octane mode using a modifier:

[code]

This would let me move my component to a native class component / glimmer components without mixins. I could also put `myCallback` in an Ember helper, and avoid a JS context for my component entirely.

[2019-09-23 15:28] buschtoens commented on #205
Very much in favor of your suggestion, @mehulkar! ❤️

And yes, as shown [somewhere hidden in the original RFC](https://github.com/emberjs/rfcs/blob/master/text/0373-Element-Modifier-Managers.md#determining-which-modifier-manager-to-use), the `owner` is passed to the modifier manager when it's instantiated, meaning we can use it to look up the service.

[2019-09-23 17:35] buschtoens commented on #205
One issue I found while spiking out an implementation is that `watchElement` accepts `configOptions`:

I'd add these as named args to the modifiers, like so:

[code]

This is an issue, when you want to use both modifiers at the same time and _may_ want to have different configs:

[code]

I did not deep dive into the source code yet, but maybe someone already knows whether we could support this, wi

[2019-09-23 17:45] snewcomer commented on #205
@buschtoens Great!  Yeah the config options need to be the same since the IntersectionObserver's `callback` is involved based on the common config setup - `let observer = new IntersectionObserver(callback, configOptions);` <--- whether it is entering or exiting the viewport.

[2019-09-23 17:51] buschtoens commented on #205
I think the cleanest solution then would be a joint `{{in-viewport}}` modifier:

[code]

For convenience we may still add the `{{did-enter-viewport}}` and `{{did-exit-viewport}}`, but make them mutually exclusive, throwing an assertion that prompts the user to switch to `{{in-viewport}}`.

What do you think?

[2019-09-23 18:04] snewcomer commented on #205
Less complicated is better 👍 I like it so far.

Also, one thing to bring up is the act of `watchElement` for certain scenarios isn't standard necessarily.  For example, I might need to wait a tick to actually start watching the element in question (b/c say it is a content heavy page and the page doesn't have height yet).  Likely I wouldn't be able to use it for the examples I have.  Not necessaril

[2019-09-25 21:58] snewcomer commented on #203
👋 Is this still an issue?

[2019-09-25 21:59] snewcomer opened #209 "Support scrollableArea as HTMLElement"

[2019-09-26 07:59] buschtoens commented on #205
[This assertion](https://github.com/DockYard/ember-in-viewport/pull/208/files#diff-e66ae1f3416fddfe8b153d7f3ce20bdfR51-R55) checks that you only ever use on modifier on a given element.

[2019-09-26 14:15] jathanasiou opened #211 "Security vulnerability in dependencies"
The below import of this project adds a **High-tier** security vulnerability regarding HBS template poisoning
https://github.com/DockYard/ember-in-viewport/blob/056e1f33aca011e7c33850c8d0802c491df79da7/package.json#L24

due to the usage of an older `    "handlebars": "^4.0.11",` dependency.

![image](https://user-images.githubusercontent.com/8679925/65695540-a2de9a80-e06f-11e9-8fff-e49055d847ca.pn

[2019-09-26 21:25] allthesignals commented on #203
I couldn't say—it's too hard to reproduce! Will close.

[2019-09-26 21:25] #203 closed

[2019-10-12 03:41] #211 closed

[2019-11-25 05:43] erichonkanen commented on #176
@lolmaus did you ever come up with a good solution here? Trying to write acceptance test for a client-side pagination feature and basically can't get it to work due to nature of scrolling/waiting etc

[2019-11-25 07:12] lolmaus commented on #176
@erichonkanen Nah, I ended up doing this and I'm not happy about it:

[code]

If there's a bug and the loading indicator would not appear, then the test would keep running until the testing suite times out.

[code]

This is also not good. One day it will take more than 50ms to do its thing, and your CI will crash with a false negative.

***

Extra waiting time and false negatives are not a big dea

[2019-11-25 20:09] erichonkanen commented on #176
@lolmaus I like that approach! I wonder how hard to implement?

And definitely agree, I just had to get _something_ working for the time being and so went with sub-optimal solution. A scrollTop helper would be really nice (possibly even better if it was part of ember-test-helpers)

[2019-12-16 16:35] #205 closed

[2019-12-16 18:31] dbashford opened #216 "Debugging potential leaks"
I'm debugging some leak issues we have using ember-in-viewport. While I haven't got to the source just yet, I did notice this...

In the `in-viewport` service, you have a `startIntersectionObserver` function which instantiates an `ObserverAdmin` ([code](https://github.com/DockYard/ember-in-viewport/blob/master/addon/services/in-viewport.js#L40-L42)).

[code]

In the `in-viewport` service's `watchE

[2019-12-17 00:32] snewcomer commented on #216
@dbashford 👋  I believe you are right!  We may need to remove this line.  What do you think?

https://github.com/DockYard/ember-in-viewport/blob/master/addon/mixins/in-viewport.js#L125

Also, for future reference, the `Mixin` will surely be deprecated in the future.  The `service` is the recommended path forward just in case I haven't stated it in the README.

[2019-12-19 03:25] #216 closed

[2019-12-22 05:32] snewcomer commented on #176
@lolmaus Something I forgot to ask a while back.  Do you think a token that is shared between the service and test land that awaits for `didEnterViewport` is a guarantee that all the items have been painted?  (say loading/painting more images)

[2020-01-06 23:48] mehulkar opened #223 "Changelog"
It would be great to add a CHANGELOG.md file so it's easier to see what's changing between versions!

[2020-01-06 23:49] mehulkar commented on #223
(Release notes on https://github.com/DockYard/ember-in-viewport/releases would be fine too!)

[2020-01-31 18:14] snewcomer opened #224 "Failing to load more if items dont fill the screen"

[2020-02-26 23:10] mehulkar opened #227 "Pass more data back to callbacks"
The `onEnter` and `onExit` callbacks currently receive the watched element  as the first argument. It would be useful to receive the options that were passed when registering the callback as well.

My use case is currently only for testing. I want to test that the correct value is passed for the `scrollableArea` option. It's a bit hard to write a test that actually asserts the behavior of `Interse

[2020-03-04 11:19] MatthewPringle opened #228 "Running Very Slowly"
## Version
3.7.1

## Expected Behavior
To not run so slow

## Actual Behavior
It now runs really slow

I updated from 3.6.1 to 3.7.1 and now it runs really slow. Has anything changed between 3.6 and 3.7 that could cause this?

[2020-03-04 14:48] MatthewPringle commented on #228
"ember-cli-babel": "^7.7.3" -> "ember-cli-babel": "^7.18.0"

"ember-cli-template-lint": "^1.0.0-beta.1", -> "ember-cli-template-lint": "^1.0.0"

"ember-export-application-global": "^2.0.0" - > "ember-export-application-global": "^2.0.1"

I down graded the package to my last version "ember-in-viewport": "^3.6.1" and everything is still running very slowly.

Above are the other packages that updated

[2020-03-04 15:49] snewcomer commented on #228
We have the latest installed in a variety of apps that take advantage of this addon VERY heavily and have not had issues.  That is not to say you don't have issues.   My first inclination is it is application specific.  Do you have an idea which browsers it is specifically running slow on?  Does it run slowly on Chrome or Firefox?

[2020-03-04 15:52] MatthewPringle commented on #228
It is being used in Cordova / Ember on iOS 13.

The only difference in todays build and the previous build is the changes to the above package versions.

I have access to previous builds in Testflight and reinstalling one of them makes everything work fine again.

Do you think ember-cli-babel could be causing issues?

[2020-03-09 16:43] MatthewPringle commented on #228
@snewcomer It seems when going from 3.6.1 -> 3.7.1 the following was updated in the dependencies

intersection-observer-admin 0.2.9 -> 0.2.10

This is what is breaking my app, version 0.2.10 just doesn't work in iOS in a webview. Forcing 0.2.9 and it works again.

[2020-03-09 19:13] snewcomer commented on #228
@MatthewPringle Interesting.  Doesn't look like we touched anything between 0.2.9 and 0.2.10 that is production code related.  We did [change](https://github.com/DockYard/ember-in-viewport/pull/217) in 1.6.2 that may be related.  What does your app look like on 3.6.2?

https://github.com/snewcomer/intersection-observer-admin/commits/master

[2020-03-09 20:50] MatthewPringle commented on #228
In 3.6.2 I have a scrolling component which fills most of the screen, iOS style header + footer. Im drawing a calendar and so output components for years, quarters and months and when each of those is in view I set the flag "show" and the template draws the contents of the component, otherwise it just draws the surrounding container which has height.

Im not doing anything crazy in terms of layout

[2020-03-09 21:33] MatthewPringle commented on #228
Tested on iPhone X 13.3 Safari Browser. OSX 10.14 Safari Browser. OS Chrome 80

"intersection-observer-admin": "0.2.10" in my package.json and it works

"intersection-observer-admin": "0.2.11" in my package.json and it doesn't work

it seems intersection-observer-admin 0.2.11 is the issue?

[2020-03-09 21:42] MatthewPringle commented on #228
It would seem to be this line which causes the issue https://github.com/snewcomer/intersection-observer-admin/compare/v0.2.10...v0.2.11#diff-f41e9d04a45c83f3b6f6e630f10117fe

**From:**
if (isIntersecting || intersectionRatio > threshold) {

**To:**
if (isIntersecting || intersectionRatio >= threshold) {

[2020-03-09 22:20] snewcomer commented on #228
Ok perfect.  I'll revert!  That is great to hear!

[2020-03-10 03:15] #228 closed

[2020-03-22 21:38] AliceMakk opened #230 "onExit doesn't get fired on IE"
The library works perfect on Edge, but works half on IE 11
The event _onEnter_ gets fired, but the event _onExit_ doesn't.

## Version
3.7.1

## Test Case
[code]

Am I missing something please?

[2020-03-22 21:54] snewcomer commented on #230
@AliceMakk 👋 Try `viewportSpy: true` in your configuration and lmk if that fixes it for you!

https://github.com/DockYard/ember-in-viewport#configuration

[2020-03-22 22:23] AliceMakk commented on #230
Hi @snewcomer thank you for your quick reply. Yep, that fixed the problem, I'm just wondering about precautions said in the docs:

Just wondering why the onEnter event works and the onExit doesn't.

[2020-03-22 23:15] snewcomer commented on #230
I updated the readme with the linked commit!  Thanks for reporting.  Hopefully helps others in the future!

[2020-03-22 23:15] #230 closed

[2020-04-07 06:34] fran-worley opened #232 "TypeError: Cannot read property 'viewportConfig' of undefined"
I suspect this is an issue caused by how we use `ember-in-viewport `in `ember-light-table` but @snewcomer any ideas why I'm suddenly getting this error for ember 3.4?

https://travis-ci.org/github/offirgolan/ember-light-table/jobs/671943228#L1453

I've tried dropping `ember-in-viewport` back down to 3.5.8 (which used to work) and it makes no difference. Any chance you could point me in the right d

[2020-04-27 17:33] Gorzas commented on #232
The problem you're facing is in [this line](https://github.com/DockYard/ember-in-viewport/blob/master/addon/initializers/viewport-config.js#L33). I still don't know why does it fails with ember-light-table.

[2020-05-15 01:14] snewcomer commented on #176
I am willing to explore this if you would like.  However, I'm still curious if a token will tell us "done" state (that is asserting a list length of x items).  Do you have any thoughts?

[2020-05-15 07:52] lolmaus commented on #176
Uhm, no idea. I guess it only looks at the root element of the component, if I understood the question correctly.

Also, the `didEnterViewport` hook only applies to Classic comonents. For Octane, it should be a modifier.

***

@snewcomer Are you sure you want to go the path of a global registry and tokens?

My last suggestion seems easier both for app developers and addon maintainers. Though I'm n

[2020-05-17 14:38] snewcomer commented on #176
I'm not sure.  The trouble I see is some helper still may not tell you if the next list is actually painted on the screen, thus a dev's next assertion may be too early.

[2020-05-19 09:34] lolmaus commented on #176
@snewcomer Sorry, I'm not following what you mean exactly.

Can you please elaborate with an example? 🙏

[2020-06-16 15:43] fran-worley commented on #232
In the interests of progress, we're removing support for Ember 3.4 from the final release of Version 2.x.

[2020-07-10 22:48] bendemboski opened #240 "Test failure in Ember 3.20"
## Version
ember-in-viewport: 3.7.5
ember-source: 3.20

## Steps to reproduce
Run the tests against Ember 3.20 (as of 7/10/2020 it's in beta, so `ember try:one ember-beta`)

## Expected Behavior
Tests pass

## Actual Behavior
[code]

## Explanation
The problem is that the in-viewport service runs its teardown code in the `destroy()` method instead of the `willDestroy()` hook. Starting in Ember 3.2

[2020-07-14 16:37] #240 closed

[2020-07-29 10:11] oo6 opened #245 "Use {{in-viewport}} modifier multiple times on a page only trigger the last one's callback"
## Version
3.7.7

## Test Case
https://ember-twiddle.com/85422a05c7149e37a3871be3d75a47a9?openFiles=templates.application%5C.hbs%2C

## Steps to reproduce
Use `{{in-viewport}}` modifier multiple times on a page.

## Expected Behavior
Every modifier's `onEnter` will trigger.

## Actual Behavior
Only trigger the last one.

[2020-08-02 17:04] MrChocolatine commented on #245
I can also reproduce the issue.
Updating to `3.7.7` suddenly breaks one of my test, a `onEnter` callback being not triggered.

[2020-08-02 21:50] #245 closed

[2020-08-02 23:33] snewcomer commented on #245
`3.7.8`!  Thanks for reporting

[2020-08-05 03:41] snewcomer commented on #232
@fran-worley Can this issue be closed?  It may have been lack of support for older versions...

[2020-08-05 04:26] #223 closed

[2020-08-05 09:27] fran-worley commented on #232
I think so - we just had to drop support for ember <3.6

[2020-08-05 16:43] #232 closed

[2020-08-19 18:10] snewcomer commented on #72
Closing since the mixin approach is less and less common

[2020-08-19 18:10] #72 closed

[2020-09-09 22:44] mehulkar opened #251 "Lazy load rAf implementation"
It would be nice if the rAF implementation was not loaded if the browser supports `IntersectionObserver`.

[2020-09-23 19:12] MaxKrai opened #254 "onEvent(callback) API doesn't work"
## Description
If we use the onEnter() API from **Usage** [example](https://github.com/DockYard/ember-in-viewport#usage) callbacks will not be fired in browsers where IntersectionObserver is not supported (e.g. IE):
[code]
Appearance of element in viewport leads to idle calling of `noop()` [here](https://github.com/DockYard/ember-in-viewport/blob/d619d89b7b39deb598ce7fb4004252e5b6c7858c/addon/-pri

[2020-09-25 20:19] #254 closed

[2020-09-25 20:19] snewcomer commented on #254
@MaxKrai 👋 Thx for the issue.  I converted some of our dummy app examples to use this and the tests/ember serve seem to work correctly.  Possible to identify what is different than our examples?

[2020-09-29 09:27] sairam1610 opened #256 "viewportSpy: false triggering onEnter everytime"
## Version
v3.8.0

## Test Case

## Steps to reproduce
inject inViewPort service onEnter fired on each entry of element in the view port works fine with when used with mixin

[code]
Is there anything wrong with this implementation ?
## Expected Behavior
should be fired once by default

## Actual Behavior
In my-class component `didEnterViewport()` function fired on every entry of loader in view por

[2020-09-29 09:29] sairam1610 commented on #256
@snewcomer

[2020-09-30 22:13] snewcomer opened #257 "Add enter/exit logging if enabled"

[2020-10-03 19:35] snewcomer commented on #256
@sairam1610 Do all your loaders have the same `id`?  If so, that hopefully is the issue (and not allowed according to the spec)!

If each loader does have different `ids`, do you have a minimal example I can look at?  We have a bunch of examples in the dummy app and tested quite well.

ember-in-viewport/tests/dummy/app/components/

[2020-10-03 19:40] snewcomer commented on #251
Hey!  Could you detail what you are thinking in this regards?  I looked around and tried digging up some ideas - we don't initialize the raf-pool if the browser supports IObserver (thus no requestAnimationFrame).  I'm sure I missed something though.

[2020-10-03 19:41] snewcomer commented on #128
Closing for now unless somebody specifically wants this feature.  Support for IObserver is quite broad.

[2020-10-03 19:41] #128 closed

[2020-10-04 05:32] sairam1610 commented on #256
I have tested in my-class component in infinity.hbs
`infinity.hbs`
[code]
`component.js`
[code]

`my-class.hbs`
[code]

[2020-10-04 17:20] snewcomer commented on #256
@sairam1610 I think I would need an example to test with up on github or twiddle that I can manually test to see what is wrong.  If you don't mind.

[2020-10-05 21:12] mehulkar commented on #251
I was thinking this whole file: https://github.com/DockYard/ember-in-viewport/blob/master/addon/-private/raf-admin.js and the `raf-pool` dependency could be changed to be dynamically imported, and only loaded if `IntersectionObserver` is not defined. Not quite sure how/when that would happen.

[2020-10-06 03:43] snewcomer commented on #251
That seems like an optimal idea!  Although I think we would need to make the async chain all the way up to `watchElement`...Certainly worth exploring but would be quite a big change.

[2020-10-22 15:44] jherdman opened #258 "Bug in Ember 3.20"
## Version
3.8.0

## Test Case
Use the modifier, e.g.

[code]

## Steps to reproduce
See above

## Expected Behavior
It works

## Actual Behavior
[code]

[2020-10-22 15:47] jherdman commented on #258
<img width="737" alt="Screen Shot 2020-10-22 at 11 46 55 AM" src="https://user-images.githubusercontent.com/3300/96897143-52956000-145c-11eb-90b1-92d2e7b8487a.png">

Assertion stems from here

[2020-10-25 21:24] snewcomer commented on #258
@jherdman Thx for the issue!  The dummy app was just updated to `3.22` and all tests were passing with our built in modifier.  Is it still reproducing?  A `nombom` didn't fix the issue for you?

[2020-10-28 11:53] jherdman commented on #258
Yeah, it's really easy to reproduce in an app at my company, but I'm
struggling to reproduce it outside of it. It's almost exactly the same
scenario as the modifier acceptable test.

On Sun, Oct 25, 2020, 17:24 Scott Newcomer <notifications@github.com> wrote:

[2020-10-28 14:58] jherdman commented on #258
I found it. I can't recall how I ended up down this path, but...

`$ yarn why ember-modifier`

Returns...

[code]

Ah, snap... two versions...

Digging in...

https://github.com/adopted-ember-addons/ember-sortable/issues/383

Ah ha!

All the more reason to dependency lint.

I think we can close this.

[2020-10-28 15:44] snewcomer commented on #258
Great!  Noting for the future

[2020-10-28 15:44] #258 closed

[2021-04-12 10:08] pragatheeswarans commented on #256
@snewcomer I am using the `{{in-viewport}}` modifier and I couldn't figure out a way to call the `onEnter` listener only once. I tried passing `viewportSpy=false` to the modifier (even the default value should be false), the event seems to be firing every time when the element enters the viewport.

Is there an option to execute the `onEnter` event once and then remove the event listener for the el

[2021-04-27 04:16] #256 closed

[2021-07-08 11:50] XuluWarrior opened #275 "onExit doesn't fire unless viewportSpy is enabled"
#270 added the `viewportSpy` option which means that if it is disabled, after `onEnter`, `stopWatching` is called.

This makes sense if you're only considering `onEnter` but if `onExit` is defined, then it is counterintuitive that it never gets called unless `viewportSpy` is set to true.

It took me a while to realise why `{{in-viewport onEnter=this.onEnter onExit=this.onExit}}` only called my `on

[2021-07-22 18:01] burritoIand opened #276 "How to access didScroll using service method?"
I noticed the component mixin allows using the didScroll behavior but is there a way to use it when using the service/class method?

[2021-07-30 19:22] hoIIer opened #277 "Safari/IOS Flicker Bug"
Hello, I've noticed that on Safari/IOS when scrolling down using {{in-viewport onEnter=() onExit=()}}, the component seems to fire continuously from the time the viewport element first starts to exit, up until when it has fully exited, and vice versa.

This results in the component flickering in and out until the viewport element has completely left. It does not happen in chrome or firefox.

I not

[2021-08-02 03:23] snewcomer commented on #276
We do not have a `scroll` listener.  I think that is probably best implemented in user land.

[2021-08-02 03:23] #276 closed

[2021-09-29 09:10] Techn1x commented on #224
A solution if anyone stumbles onto this like I did - if you hide the loader/viewport element while the loader task is running, the viewport element will be re-added into the template when the task finishes (is idle), if this is still in the viewport, it'll fire the on enter hook again - and it'll repeat until items fill the screen

[code]

[code]

[2021-10-21 19:57] mehulkar opened #286 "Update to ember-auto-import@2"
EAI@2!

[2021-11-29 15:27] snewcomer commented on #286
Going to publish 4.0 with this change!

[2022-03-20 22:04] #277 closed

[2022-03-21 21:52] mehulkar opened #298 "assign is deprecated"
https://github.com/DockYard/ember-in-viewport/blob/50ea82aa1a2df8b84e99729935d0045fc9eab1b8/addon/initializers/viewport-config.js#L1

`Ember.assign` is deprecated: https://deprecations.emberjs.com/v4.x#toc_ember-polyfills-deprecate-assign

[2022-03-22 17:22] #286 closed

[2022-03-23 19:52] #298 closed

[2022-03-30 16:07] SergeAstapov opened #303 "Convert to v2 addon"
As this addon provides only run-time functionality hence it's the great candidate for v2 addon conversion.
There is guide great [Porting an Addon to V2](https://github.com/embroider-build/embroider/blob/main/PORTING-ADDONS-TO-V2.md) guide I suggest we follow.

My thought process of the next steps is to have PRs in the following order:

1. [ ] convert to monorepo
1. [ ] convert addon to v2
1. [ ] r

[2022-04-07 18:16] snewcomer commented on #303
Seems like a great idea!